.recommender-book-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25vh;
  width: 100%;
}

.recommender-book-container .card-wrap {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
}
/* .recommender-book-container .card-wrap .book {
  width: 
} */

.recommender-book-container .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommender-book-container .card-img, .card-img-bottom, .card-img-top {
  width: inherit !important;
  margin: 1rem;
}

.recommender-book-container h3 {
  width: 80%;
}